<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/Styles/game.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="~/Content/Scripts/bmiq.js"></script>
</head>
<body style="background-image: url('http://www.outrageousfortunes.co.uk/wp-content/uploads/2015/05/poker-table-felt.jpg'); background-repeat: repeat; height: 100%;">
    <div>
        @RenderBody()
    </div>
</body>
</html>